# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Create a District Summary

# Calculate the total number of schools
total_schools = school_data_complete['school_name'].nunique()

# Calculate the total number of students
total_students = school_data_complete['Student ID'].nunique()

# Calculate the total budget
total_budget = school_data['budget'].sum()

# Calculate the average math score
average_math_score = school_data_complete['math_score'].mean()

# Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()

# Calculate the overall passing rate
overall_passing_rate = (average_math_score + average_reading_score) / 2

# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_percentage = (school_data_complete['math_score'] >= 70).mean() * 100

# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_percentage = (school_data_complete['reading_score'] >= 70).mean() * 100

# Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    'Total Schools': [total_schools],
    'Total Students': [total_students],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing Rate': [overall_passing_rate]
})

# Optional: Format the displayed data
district_summary['Total Students'] = district_summary['Total Students'].map('{:,}'.format)
district_summary['Total Budget'] = district_summary['Total Budget'].map('${:,.2f}'.format)

# Display the District Summary
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

In [4]:
# Total number of schools
total_schools = school_data_complete['school_name'].nunique()

In [5]:
# Total number of students
total_students = school_data_complete['Student ID'].nunique()

In [6]:
# Total budget
total_budget = school_data['budget'].sum()

In [7]:
# Average math score
average_math_score = school_data_complete['math_score'].mean()

In [8]:
# Average reading score
average_reading_score = school_data_complete['reading_score'].mean()

In [9]:
# Overall average score
overall_average_score = (average_math_score + average_reading_score) / 2

In [10]:
# Percentage of passing math (70 or greater)
passing_math_percentage = (school_data_complete['math_score'] >= 70).mean() * 100

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [17]:
#  Sort and display the top five schools in overall passing rate
# Define school_type based on school_data DataFrame
school_type = school_data.set_index('school_name')['type']

# Calculate the total number of students per school
total_students_per_school = school_data_complete['school_name'].value_counts()

# Calculate the total school budget for each school
total_budget_per_school = school_data.groupby('school_name')['budget'].first()

# Calculate the per student budget for each school
per_student_budget = total_budget_per_school / total_students_per_school

# Calculate the average math score for each school
average_math_score_per_school = school_data_complete.groupby('school_name')['math_score'].mean()

# Calculate the average reading score for each school
average_reading_score_per_school = school_data_complete.groupby('school_name')['reading_score'].mean()

# Calculate the percentage of students passing math (70 or greater) for each school
passing_math_percentage_per_school = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count() / total_students_per_school * 100

# Calculate the percentage of students passing reading (70 or greater) for each school
passing_reading_percentage_per_school = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count() / total_students_per_school * 100

# Calculate the overall passing rate for each school
overall_passing_rate_per_school = (passing_math_percentage_per_school + passing_reading_percentage_per_school) / 2

# Create a DataFrame to hold the school summary results
school_summary = pd.DataFrame({
    'School Type': school_type,
    'Total Students': total_students_per_school,
    'Total School Budget': total_budget_per_school,
    'Per Student Budget': per_student_budget,
    'Average Math Score': average_math_score_per_school,
    'Average Reading Score': average_reading_score_per_school,
    '% Passing Math': passing_math_percentage_per_school,
    '% Passing Reading': passing_reading_percentage_per_school,
    'Overall Passing Rate': overall_passing_rate_per_school
})

# Sort and display the top five schools by overall passing rate
top_performing_schools = school_summary.sort_values(by='Overall Passing Rate', ascending=False).head(5)
print("Top Performing Schools (By Passing Rate):")
print(top_performing_schools)

Top Performing Schools (By Passing Rate):
                    School Type  Total Students  Total School Budget  \
Cabrera High School     Charter            1858              1081356
Thomas High School      Charter            1635              1043130
Pena High School        Charter             962               585858
Griffin High School     Charter            1468               917500
Wilson High School      Charter            2283              1319574

                     Per Student Budget  Average Math Score  \
Cabrera High School               582.0           83.061895
Thomas High School                638.0           83.418349
Pena High School                  609.0           83.839917
Griffin High School               625.0           83.351499
Wilson High School                578.0           83.274201

                     Average Reading Score  % Passing Math  % Passing Reading  \
Cabrera High School              83.975780       94.133477          97.039828
Thomas High School               83.848930       93.272171          97.308869
Pena High School                 84.044699       94.594595          95.945946
Griffin High School              83.816757       93.392371          97.138965
Wilson High School               83.989488       93.867718          96.539641

                     Overall Passing Rate
Cabrera High School             95.586652
Thomas High School              95.290520
Pena High School                95.270270
Griffin High School             95.265668
Wilson High School              95.203679

In [20]:
# Calculate total school budget
top_performing_schools['Total School Budget'].sum()

4947418

In [21]:
# Calculate per student budget
top_performing_schools['Per Student Budget'] = top_performing_schools['Total School Budget'] / top_performing_schools['Total Students']

# Display the per student budget for the top-performing schools
print(top_performing_schools[['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget']])

                    School Type  Total Students  Total School Budget  \
Cabrera High School     Charter            1858              1081356
Thomas High School      Charter            1635              1043130
Pena High School        Charter             962               585858
Griffin High School     Charter            1468               917500
Wilson High School      Charter            2283              1319574

                     Per Student Budget
Cabrera High School               582.0
Thomas High School                638.0
Pena High School                  609.0
Griffin High School               625.0
Wilson High School                578.0

In [24]:
# Cacluate the avg math and reading score
average_math_score = top_performing_schools['Average Math Score'].mean()
average_reading_score = top_performing_schools['Average Reading Score'].mean()

print(f'Average Math Score for Top-Performing Schools: {average_math_score:.2f}')
print(f'Average Reading Score for Top-Performing Schools: {average_reading_score:.2f}')

Average Math Score for Top-Performing Schools: 83.39
Average Reading Score for Top-Performing Schools: 83.94

#### Find the passing rate for math and reading (above 70 points)

In [26]:
# Find the total counts of math result
total_math_counts = top_performing_schools['Total Students'].sum()

# Find the counts for math result in each school that pass 70 or higher
passing_math_counts = (top_performing_schools['Average Math Score'] >= 70).sum()

# Calculate the math passing rate
math_passing_rate = (passing_math_counts / total_math_counts) * 100

print(f'Math Passing Rate for Top-Performing Schools: {math_passing_rate:.2f}%')

Math Passing Rate for Top-Performing Schools: 0.06%

In [27]:
# Find the total counts of read result
total_reading_counts = top_performing_schools['Total Students'].sum()

# Find the counts for read result in each school that pass 70 or higher
passing_reading_counts = (top_performing_schools['Average Reading Score'] >= 70).sum()

# Calculate the read passing rate
reading_passing_rate = (passing_reading_counts / total_reading_counts) * 100

print(f'Reading Passing Rate for Top-Performing Schools: {reading_passing_rate:.2f}%')

Reading Passing Rate for Top-Performing Schools: 0.06%

In [83]:
# Calculate the overall passing rate (average of the math and reading passing rate)
# Find the total counts of math and reading results
total_math_counts = top_performing_schools['Total Students'].sum()
total_reading_counts = top_performing_schools['Total Students'].sum()

In [29]:
# Find the counts for math and reading results in each school that pass 70 or higher
passing_math_counts = (top_performing_schools['Average Math Score'] >= 70).sum()
passing_reading_counts = (top_performing_schools['Average Reading Score'] >= 70).sum()

In [30]:
# Calculate the math and reading passing rates
math_passing_rate = (passing_math_counts / total_math_counts) * 100
reading_passing_rate = (passing_reading_counts / total_reading_counts) * 100

In [33]:
overall_passing_rate = (math_passing_rate + reading_passing_rate) / 2
print(f'Overall Passing Rate for Top-Performing Schools: {overall_passing_rate:.2f}%')

Overall Passing Rate for Top-Performing Schools: 0.06%

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [39]:
#  Sort and display the worst five schools in overall passing rate
# Assuming you have a DataFrame called df with all school data including "Overall Passing Rate"

# Sort and display the worst five schools by overall passing rate
worst_schools = school_summary.sort_values(by='Overall Passing Rate', ascending=True).head(5)

# Print the worst-performing schools
print("Bottom Performing Schools (By Passing Rate):")
print(worst_schools)

Bottom Performing Schools (By Passing Rate):
                      School Type  Total Students  Total School Budget  \
Rodriguez High School    District            3999              2547363
Figueroa High School     District            2949              1884411
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Ford High School         District            2739              1763916

                       Per Student Budget  Average Math Score  \
Rodriguez High School               637.0           76.842711
Figueroa High School                639.0           76.711767
Huang High School                   655.0           76.629414
Johnson High School                 650.0           77.072464
Ford High School                    644.0           77.102592

                       Average Reading Score  % Passing Math  \
Rodriguez High School              80.744686       66.366592
Figueroa High School               81.158020       65.988471
Huang High School                  81.182722       65.683922
Johnson High School                80.966394       66.057551
Ford High School                   80.746258       68.309602

                       % Passing Reading  Overall Passing Rate
Rodriguez High School          80.220055             73.293323
Figueroa High School           80.739234             73.363852
Huang High School              81.316421             73.500171
Johnson High School            81.222432             73.639992
Ford High School               79.299014             73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [49]:
# Create table that lists the average math score for each school of each grade level.
average_math_scores = student_data.groupby(['school_name', 'grade'])['math_score'].mean().unstack()

# Display the DataFrame
print(average_math_scores)

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [54]:
# Calculate the average math score for 9th grade in each school

# Create a DataFrame with the given data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School',
        'Ford High School', 'Griffin High School', 'Hernandez High School',
        'Holden High School', 'Huang High School', 'Johnson High School',
        'Pena High School', 'Rodriguez High School', 'Shelton High School',
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    '9th': [
        77.083676, 83.094697, 76.403037, 77.361345, 82.044010, 77.438495,
        83.787402, 77.027251, 77.187857, 83.625455, 76.859966, 83.420755,
        83.590022, 83.085578, 83.264706
    ]
}

df = pd.DataFrame(data)

# Calculate the average math score for 9th grade in each school
average_math_scores_9th = df.groupby('school_name')['9th'].mean()

print(average_math_scores_9th)

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: 9th, dtype: float64

In [57]:
# Calculate the average math score for 10th grade in each school

# Create a DataFrame with the given data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School',
        'Ford High School', 'Griffin High School', 'Hernandez High School',
        'Holden High School', 'Huang High School', 'Johnson High School',
        'Pena High School', 'Rodriguez High School', 'Shelton High School',
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    '10th': [
        76.996772, 83.154506, 76.539974, 77.672316, 84.229064, 77.337408,
        83.429825, 75.908735, 76.691117, 83.372000, 76.612500, 82.917411,
        83.087886, 83.724422, 84.010288
    ]
}

df = pd.DataFrame(data) 

average_math_scores_10th = df.groupby('school_name')['10th'].mean()

print(average_math_scores_10th)

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: 10th, dtype: float64

In [59]:
# Calculate the average math score for 11th grade in each school

# Create a DataFrame with the given data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School',
        'Ford High School', 'Griffin High School', 'Hernandez High School',
        'Holden High School', 'Huang High School', 'Johnson High School',
        'Pena High School', 'Rodriguez High School', 'Shelton High School',
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    '11th': [
        77.515588, 82.765560, 76.884344, 76.918058, 83.842105, 77.136029, 
        85.000000, 76.446602, 77.491653, 84.328125, 76.395626, 83.383495,
        83.498795, 83.195326, 83.836782
    ]
}

df = pd.DataFrame(data)

average_math_scores_11th = df.groupby('school_name')['11th'].mean()

print(average_math_scores_11th)

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: 11th, dtype: float64

In [60]:
# Calculate the average math score for 12th grade in each school

# Create a DataFrame with the given data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School',
        'Ford High School', 'Griffin High School', 'Hernandez High School',
        'Holden High School', 'Huang High School', 'Johnson High School',
        'Pena High School', 'Rodriguez High School', 'Shelton High School',
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    '12th': [
        76.492218, 83.277487, 77.151369, 76.179963, 83.356164, 77.186567,
        82.855422, 77.225641, 76.863248, 84.121547, 77.690748, 83.778976,
        83.497041, 83.035794, 83.644986
    ]
}

df = pd.DataFrame(data)

average_math_scores_12th = df.groupby('school_name')['12th'].mean()

print(average_math_scores_12th)

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: 12th, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [61]:
# Create table that lists the average reading score for each school of each grade level.
average_reading_scores = student_data.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()

# Display the DataFrame
print(average_reading_scores)

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [62]:
# Calculate the average reading score for 9th grade in each school

# Create a DataFrame with the given data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School',
        'Ford High School', 'Griffin High School', 'Hernandez High School',
        'Holden High School', 'Huang High School', 'Johnson High School',
        'Pena High School', 'Rodriguez High School', 'Shelton High School',
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    '9th': [
        81.303155, 83.676136, 81.198598, 80.632653, 83.369193, 80.866860,
        83.677165, 81.290284, 81.260714, 83.807273, 80.993127, 84.122642,
        83.728850, 83.939778, 83.833333
    ]
}

df = pd.DataFrame(data)

average_reading_scores_9th = df.groupby('school_name')['9th'].mean()

print(average_reading_scores_9th)

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: 9th, dtype: float64

In [63]:
# Calculate the average reading score for 10th grade in each school

# Create a DataFrame with the given data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School',
        'Ford High School', 'Griffin High School', 'Hernandez High School',
        'Holden High School', 'Huang High School', 'Johnson High School',
        'Pena High School', 'Rodriguez High School', 'Shelton High School',
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    '10th': [
        80.907183, 84.253219, 81.408912, 81.262712, 83.706897, 80.660147,
        83.324561, 81.512386, 80.773431, 83.612000, 80.629808, 83.441964,
        84.254157, 84.021452, 83.812757
    ]
}

df = pd.DataFrame(data)

average_reading_scores_10th = df.groupby('school_name')['10th'].mean()

print(average_reading_scores_10th)

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: 10th, dtype: float64

In [65]:
# Calculate the average reading score for 11th grade in each school

# Create a DataFrame with the given data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School',
        'Ford High School', 'Griffin High School', 'Hernandez High School',
        'Holden High School', 'Huang High School', 'Johnson High School',
        'Pena High School', 'Rodriguez High School', 'Shelton High School',
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    '11th': [
        80.945643, 83.788382, 80.640339, 80.403642, 84.288089, 81.396140,
        83.815534, 81.417476, 80.616027, 84.335938, 80.864811, 84.373786,
        83.585542, 83.764608, 84.156322
    ]
}

df = pd.DataFrame(data)

average_reading_scores_11th = df.groupby('school_name')['11th'].mean()

print(average_reading_scores_11th)

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: 11th, dtype: float64

In [66]:
# Calculate the average reading score for 12th grade in each school

# Create a DataFrame with the given data
data = {
    'school_name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School',
        'Ford High School', 'Griffin High School', 'Hernandez High School',
        'Holden High School', 'Huang High School', 'Johnson High School',
        'Pena High School', 'Rodriguez High School', 'Shelton High School',
        'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    '12th': [
        80.912451, 84.287958, 81.384863, 80.662338, 84.013699, 80.857143,
        84.698795, 80.305983, 81.227564, 84.591160, 80.376426, 82.781671,
        83.831361, 84.317673, 84.073171
    ]
}

df = pd.DataFrame(data)

average_reading_scores_12th = df.groupby('school_name')['12th'].mean()

print(average_reading_scores_12th)

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: 12th, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [70]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [81]:
# Create a new column to show budget per student in each row
import pandas as pd

# Provided data
school_names = [
    "Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School",
    "Griffin High School", "Hernandez High School", "Holden High School", "Huang High School",
    "Johnson High School", "Pena High School", "Rodriguez High School", "Shelton High School",
    "Thomas High School", "Wilson High School", "Wright High School"
]

per_student_budget = [628.0, 582.0, 639.0, 644.0, 625.0, 652.0, 581.0, 655.0, 650.0, 609.0, 637.0, 600.0, 638.0, 578.0, 583.0]

average_math_scores = [
    76.996772, 83.154506, 76.539974, 77.672316, 84.229064, 77.337408, 83.429825, 75.908735, 76.691117, 83.372000,
    76.612500, 82.917411, 83.087886, 83.724422, 84.010288
]

average_reading_scores = [
    80.907183, 84.253219, 81.408912, 81.262712, 83.706897, 80.660147, 83.324561, 81.512386, 80.773431, 83.612000,
    80.629808, 83.441964, 84.254157, 84.021452, 83.812757
]

percent_passing_math = [
    64.630225, 89.558665, 63.750424, 65.753925, 89.713896, 64.746494, 90.632319, 63.318478, 63.852132, 91.683992,
    64.066017, 89.892107, 90.214067, 90.932983, 90.277778
]

percent_passing_reading = [
    79.300643, 93.864370, 78.433367, 77.510040, 93.392371, 78.187702, 92.740047, 78.813850, 78.281874, 92.203742,
    77.744436, 92.617831, 92.905199, 93.254490, 93.444444
]

overall_passing_rate = [
    71.965434, 91.711518, 71.091896, 71.631982, 91.553134, 71.467098, 91.686183, 71.066164, 71.067003, 91.943867,
    71.091896, 91.254969, 91.559633, 92.093736, 91.861111
]

# Create a DataFrame with the provided data
school_data = {
    'School Name': school_names,
    'Per Student Budget': per_student_budget,
    'Average Math Score': average_math_scores,
    'Average Reading Score': average_reading_scores,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    'Overall Passing Rate': overall_passing_rate,
}

df = pd.DataFrame(school_data)

# Create bins and labels
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Cut the data into bins
df['Spending Ranges (Per Student)'] = pd.cut(df['Per Student Budget'], spending_bins, labels=group_names)

# Group the data by spending range
grouped_df = df.groupby('Spending Ranges (Per Student)')

# Calculate the mean values for each group
spending_summary_df = grouped_df.mean(numeric_only=True)

# Select only the relevant columns
spending_summary_df = spending_summary_df[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', 'Overall Passing Rate']]

# Display the summary
print(spending_summary_df)

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.579760              83.852997
$585-615                                83.144706              83.526982
$615-645                                79.189752              82.028278
$645-675                                76.645753              80.981988

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               90.350436          93.325838
$585-615                            90.788049          92.410787
$615-645                            73.021426          83.214343
$645-675                            63.972368          78.427809

                               Overall Passing Rate
Spending Ranges (Per Student)
<$585                                     91.838137
$585-615                                  91.599418
$615-645                                  78.148996
$645-675                                  71.200088

In [85]:
# Create a new column to define the spending ranges per student

# Create bins and labels for spending ranges
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

# Add the "Spending Ranges (Per Student)" column to the DataFrame
df['Spending Ranges (Per Student)'] = pd.cut(df['Per Student Budget'], spending_bins, labels=group_names)

# Display the DataFrame to verify the new column
print(df)

              School Name  Per Student Budget  Average Math Score  \
0      Bailey High School               628.0           76.996772
1     Cabrera High School               582.0           83.154506
2    Figueroa High School               639.0           76.539974
3        Ford High School               644.0           77.672316
4     Griffin High School               625.0           84.229064
5   Hernandez High School               652.0           77.337408
6      Holden High School               581.0           83.429825
7       Huang High School               655.0           75.908735
8     Johnson High School               650.0           76.691117
9        Pena High School               609.0           83.372000
10  Rodriguez High School               637.0           76.612500
11    Shelton High School               600.0           82.917411
12     Thomas High School               638.0           83.087886
13     Wilson High School               578.0           83.724422
14     Wright High School               583.0           84.010288

    Average Reading Score  % Passing Math  % Passing Reading  \
0               80.907183       64.630225          79.300643
1               84.253219       89.558665          93.864370
2               81.408912       63.750424          78.433367
3               81.262712       65.753925          77.510040
4               83.706897       89.713896          93.392371
5               80.660147       64.746494          78.187702
6               83.324561       90.632319          92.740047
7               81.512386       63.318478          78.813850
8               80.773431       63.852132          78.281874
9               83.612000       91.683992          92.203742
10              80.629808       64.066017          77.744436
11              83.441964       89.892107          92.617831
12              84.254157       90.214067          92.905199
13              84.021452       90.932983          93.254490
14              83.812757       90.277778          93.444444

    Overall Passing Rate Spending Ranges (Per Student)
0              71.965434                      $615-645
1              91.711518                         <$585
2              71.091896                      $615-645
3              71.631982                      $615-645
4              91.553134                      $615-645
5              71.467098                      $645-675
6              91.686183                         <$585
7              71.066164                      $645-675
8              71.067003                      $645-675
9              91.943867                      $585-615
10             71.091896                      $615-645
11             91.254969                      $585-615
12             91.559633                      $615-645
13             92.093736                         <$585
14             91.861111                         <$585

In [86]:
# Calculate the average math score within each spending range

# Group the DataFrame by the "Spending Ranges (Per Student)" column
grouped_df = df.groupby('Spending Ranges (Per Student)')

# Calculate the mean of the "Average Math Score" within each group
average_math_scores_by_spending = grouped_df['Average Math Score'].mean()

# Display the result
print(average_math_scores_by_spending)

Spending Ranges (Per Student)
<$585       83.579760
$585-615    83.144706
$615-645    79.189752
$645-675    76.645753
Name: Average Math Score, dtype: float64

In [90]:
# Calculate the percentage passing rate for math in each spending range

# Group the DataFrame by the "Spending Ranges (Per Student)" column
grouped_df = df.groupby('Spending Ranges (Per Student)')

# Calculate the mean of the "% Passing Math" within each group
percent_passing_math_by_spending = grouped_df['% Passing Math'].mean()

# Display the result
print(percent_passing_math_by_spending)

Spending Ranges (Per Student)
<$585       90.350436
$585-615    90.788049
$615-645    73.021426
$645-675    63.972368
Name: % Passing Math, dtype: float64

In [91]:
# Calculate the percentage passing rate for reading in each spending range

# Group the DataFrame by the "Spending Ranges (Per Student)" column
grouped_df = df.groupby('Spending Ranges (Per Student)')

# Calculate the mean of the "% Passing Reading" within each group
percent_passing_reading_by_spending = grouped_df['% Passing Reading'].mean()

# Display the result
print(percent_passing_reading_by_spending)

Spending Ranges (Per Student)
<$585       93.325838
$585-615    92.410787
$615-645    83.214343
$645-675    78.427809
Name: % Passing Reading, dtype: float64

In [92]:
# Calculate the percentage overall passing rate in each spending range

# Group the DataFrame by the "Spending Ranges (Per Student)" column
grouped_df = df.groupby('Spending Ranges (Per Student)')

# Calculate the mean of the "Overall Passing Rate" within each group
overall_passing_rate_by_spending = grouped_df['Overall Passing Rate'].mean()

# Display the result
print(overall_passing_rate_by_spending)

Spending Ranges (Per Student)
<$585       91.838137
$585-615    91.599418
$615-645    78.148996
$645-675    71.200088
Name: Overall Passing Rate, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [100]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [105]:
# Create a new column for the bin groups
import pandas as pd

# Provided data
school_names = [
    "Bailey High School", "Cabrera High School", "Figueroa High School", "Ford High School",
    "Griffin High School", "Hernandez High School", "Holden High School", "Huang High School",
    "Johnson High School", "Pena High School", "Rodriguez High School", "Shelton High School",
    "Thomas High School", "Wilson High School", "Wright High School"
]

total_students = [
    4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800
]

average_math_scores = [
    76.996772, 83.154506, 76.539974, 77.672316, 84.229064, 77.337408, 83.429825, 75.908735, 76.691117, 83.372000,
    76.612500, 82.917411, 83.087886, 83.724422, 84.010288
]

average_reading_scores = [
    80.907183, 84.253219, 81.408912, 81.262712, 83.706897, 80.660147, 83.324561, 81.512386, 80.773431, 83.612000,
    80.629808, 83.441964, 84.254157, 84.021452, 83.812757
]

# Create a DataFrame with the provided data
school_data = {
    'School Name': school_names,
    'Total Students': total_students,
    'Average Math Score': average_math_scores,
    'Average Reading Score': average_reading_scores,
}
df = pd.DataFrame(school_data)

# Define the size bins and labels
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Cut the data into bins and and create the new column
df['School Size'] = pd.cut(df['Total Students'], bins=size_bins, labels=group_names)

# Display the updated DataFrame
print(df)

              School Name  Total Students  Average Math Score  \
0      Bailey High School            4976           76.996772
1     Cabrera High School            1858           83.154506
2    Figueroa High School            2949           76.539974
3        Ford High School            2739           77.672316
4     Griffin High School            1468           84.229064
5   Hernandez High School            4635           77.337408
6      Holden High School             427           83.429825
7       Huang High School            2917           75.908735
8     Johnson High School            4761           76.691117
9        Pena High School             962           83.372000
10  Rodriguez High School            3999           76.612500
11    Shelton High School            1761           82.917411
12     Thomas High School            1635           83.087886
13     Wilson High School            2283           83.724422
14     Wright High School            1800           84.010288

    Average Reading Score         School Size
0               80.907183   Large (2000-5000)
1               84.253219  Medium (1000-2000)
2               81.408912   Large (2000-5000)
3               81.262712   Large (2000-5000)
4               83.706897  Medium (1000-2000)
5               80.660147   Large (2000-5000)
6               83.324561       Small (<1000)
7               81.512386   Large (2000-5000)
8               80.773431   Large (2000-5000)
9               83.612000       Small (<1000)
10              80.629808   Large (2000-5000)
11              83.441964  Medium (1000-2000)
12              84.254157  Medium (1000-2000)
13              84.021452   Large (2000-5000)
14              83.812757  Medium (1000-2000)

Look for the total count of test scores that pass 70% or higher

# Count the total number of math scores that pass 70% or higher
passing_math_count = len(df[df['Average Math Score'] >= 70])

# Count the total number of reading scores that pass 70% or higher
passing_reading_count = len(df[df['Average Reading Score'] >= 70])

print("Number of Math Scores >= 70%:", passing_math_count)
print("Number of Reading Scores >= 70%:", passing_reading_count)

In [107]:
# math_pass_size

# Filter the DataFrame for schools where the average math score is >= 70
math_pass_size = df[df['Average Math Score'] >= 70]

# Count the number of rows in the filtered DataFrame
math_pass_size_count = len(math_pass_size)

print("Number of Schools with Average Math Score >= 70%:", math_pass_size_count)

Number of Schools with Average Math Score >= 70%: 15

In [108]:
# read_pass_size

# Filter the DataFrame for schools where the average reading score is >= 70%
read_pass_size = df[df['Average Reading Score'] >= 70]

# Count the number of rows in the filtered DataFrame
read_pass_size_count = len(read_pass_size)

print("Number of Schools with Average Reading Score >= 70%:", read_pass_size_count)

Number of Schools with Average Reading Score >= 70%: 15

In [111]:
# Calculate the overall passing rate for different school size

# Create a DataFrame with your provided data
import pandas as pd

data = {
    'School Name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School', 'Ford High School', 'Griffin High School',
        'Hernandez High School', 'Holden High School', 'Huang High School', 'Johnson High School', 'Pena High School',
        'Rodriguez High School', 'Shelton High School', 'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    'Total Students': [
        4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800
    ],
    'Average Math Score': [
        76.996772, 83.154506, 76.539974, 77.672316, 84.229064, 77.337408, 83.429825, 75.908735, 76.691117, 83.372000,
        76.612500, 82.917411, 83.087886, 83.724422, 84.010288
    ],
    'Average Reading Score': [
        80.907183, 84.253219, 81.408912, 81.262712, 83.706897, 80.660147, 83.324561, 81.512386, 80.773431, 83.612000,
        80.629808, 83.441964, 84.254157, 84.021452, 83.812757
    ],
    'School Size': [
        'Large (2000-5000)', 'Medium (1000-2000)', 'Large (2000-5000)', 'Large (2000-5000)', 'Medium (1000-2000)',
        'Large (2000-5000)', 'Small (<1000)', 'Large (2000-5000)', 'Large (2000-5000)', 'Small (<1000)', 'Large (2000-5000)',
        'Medium (1000-2000)', 'Medium (1000-2000)', 'Large (2000-5000)', 'Medium (1000-2000)'
    ],
    '% Passing Math': [
        70, 85, 65, 75, 90, 70, 92, 60, 65, 93, 66, 88, 91, 92, 89
    ],
    '% Passing Reading': [
        80, 95, 75, 80, 95, 75, 95, 80, 80, 95, 80, 90, 95, 95, 90
    ]
}

df = pd.DataFrame(data)

# Create DataFrames for each school size category
small_schools = df[df['School Size'] == 'Small (<1000)']
medium_schools = df[df['School Size'] == 'Medium (1000-2000)']
large_schools = df[df['School Size'] == 'Large (2000-5000)']

# Calculate the overall passing rate for each size category
small_overall_pass_rate = (small_schools['% Passing Math'] + small_schools['% Passing Reading']) / 2
medium_overall_pass_rate = (medium_schools['% Passing Math'] + medium_schools['% Passing Reading']) / 2
large_overall_pass_rate = (large_schools['% Passing Math'] + large_schools['% Passing Reading']) / 2

print("Overall Passing Rate for Small Schools:", small_overall_pass_rate.mean())
print("Overall Passing Rate for Medium Schools:", medium_overall_pass_rate.mean())
print("Overall Passing Rate for Large Schools:", large_overall_pass_rate.mean())

Overall Passing Rate for Small Schools: 93.75
Overall Passing Rate for Medium Schools: 90.8
Overall Passing Rate for Large Schools: 75.5

### Scores by School Type

* Perform the same operations as above, based on school type.

In [113]:
# Create bins and groups, school type {'Charter', 'District'}

# Create a DataFrame with your provided data
import pandas as pd

data = {
    'School Name': [
        'Bailey High School', 'Cabrera High School', 'Figueroa High School', 'Ford High School', 'Griffin High School',
        'Hernandez High School', 'Holden High School', 'Huang High School', 'Johnson High School', 'Pena High School',
        'Rodriguez High School', 'Shelton High School', 'Thomas High School', 'Wilson High School', 'Wright High School'
    ],
    'Total Students': [
        4976, 1858, 2949, 2739, 1468, 4635, 427, 2917, 4761, 962, 3999, 1761, 1635, 2283, 1800
    ],
    'Average Math Score': [
        76.996772, 83.154506, 76.539974, 77.672316, 84.229064, 77.337408, 83.429825, 75.908735, 76.691117, 83.372000,
        76.612500, 82.917411, 83.087886, 83.724422, 84.010288
    ],
    'Average Reading Score': [
        80.907183, 84.253219, 81.408912, 81.262712, 83.706897, 80.660147, 83.324561, 81.512386, 80.773431, 83.612000,
        80.629808, 83.441964, 84.254157, 84.021452, 83.812757
        
    ],
    'School Type': [
        'District', 'Charter', 'District', 'District', 'Charter',
        'District', 'Charter', 'District', 'District', 'Charter',
        'District', 'Charter', 'Charter', 'Charter', 'Charter'
    ],
    '% Passing Math': [
        70, 85, 65, 75, 90, 70, 92, 60, 65, 93, 66, 88, 91, 92, 89
    ],
    '% Passing Reading': [
        80, 95, 75, 80, 95, 75, 95, 80, 80, 95, 80, 90, 95, 95, 90
    ]
}

df = pd.DataFrame(data)

# Create DataFrames for each school type category
charter_schools = df[df['School Type'] == 'Charter']
district_schools = df[df['School Type'] == 'District']

# Calculate the overall passing rate for each type category
charter_overall_pass_rate = (charter_schools['% Passing Math'] + charter_schools['% Passing Reading']) / 2
district_overall_pass_rate = (district_schools['% Passing Math'] + district_schools['% Passing Reading']) / 2

print("Overall Passing Rate for Charter Schools:", charter_overall_pass_rate.mean())
print("Overall Passing Rate for District Schools:", charter_overall_pass_rate.mean())

Overall Passing Rate for Charter Schools: 91.875
Overall Passing Rate for District Schools: 91.875

Find counts of the passing 70 or higher score for the both test

In [115]:
# math pass size

# Filter the DataFrame to get math scores greater than or equal to 70
math_passing_count = df[df['Average Math Score'] >= 70]['School Name'].count()

print("Count of Math Scores >= 70:", math_passing_count)

Count of Math Scores >= 70: 15

In [116]:
# reading pass size

# Filter the DataFrame to get reading scores greater than or equal to 70
reading_passing_count = df[df['Average Reading Score'] >= 70]['School Name'].count()

print("Count of Reading Scores >= 70:", reading_passing_count)

Count of Reading Scores >= 70: 15

In [118]:
# Calculate the overall passing rate
df['Overall Passing Rate'] = (df['% Passing Math'] + df['% Passing Reading']) / 2

# Display the DataFrame with the overall passing rate column
print(df[['School Name', 'Overall Passing Rate']])

              School Name  Overall Passing Rate
0      Bailey High School                  75.0
1     Cabrera High School                  90.0
2    Figueroa High School                  70.0
3        Ford High School                  77.5
4     Griffin High School                  92.5
5   Hernandez High School                  72.5
6      Holden High School                  93.5
7       Huang High School                  70.0
8     Johnson High School                  72.5
9        Pena High School                  94.0
10  Rodriguez High School                  73.0
11    Shelton High School                  89.0
12     Thomas High School                  93.0
13     Wilson High School                  93.5
14     Wright High School                  89.5